/*Estiliza o body do HTML*/
body { 
    margin: 0;
    width: 100%;
    min-width: 100vh;
    background: linear-gradient(180deg,#2f6ed3 5%,#5095e4 20%,#5095e3 60%,#2f6ed3 95%);
}

/*Estiliza a tag main*/
main {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    position: relative;
}

/*Estiliza a div sentro do main para deixar as informações uma ao lado da outra*/
main > div {
    display: flex;
    align-items: stretch;
    flex-direction: row;
}

/*Estiliza a section para acrescentar uma margem e uma borda*/
main > div > section {
    margin: 5px;
    border: solid 1px white;
}

/*Define o tamanho das imagens e retira a margem*/
main > div > section > img {
    width: 300px;
    height: 300px;
    margin: 0;
}

/*Estiliza a tag p alterando a cor o tamanho e transformando o texto para maiusculo*/
main  > div > section > p {
    text-align: center;
    color: white;
    font-size: 0.8em;
    font-weight: bold;
    text-transform:uppercase;
}

/*Estilizando o botão*/
main > button {
    border-radius: 4px;
    background-color: #9bc0ec;
    color: white;
    font-family: Euclidbold;
    font-weight: 700;
    letter-spacing: -0.6px;
    line-height: 15px;
    text-transform: uppecase;
    padding:30px 100px;
    border:none;
    margin: 15px 0
}

/*Estilizando o botão ao passa o mouse -> o pointer transforma a seta em mão*/
main > button:hover {
    background-color: #2c4f7a;
    color: white;
    cursor: pointer;    
} 

